/* ==========================================================================
   Style: Her kan du gjøre som du vil;
   ========================================================================== */

section {
	margin: 20px;
}

label {
	display: block
}