.App {
  text-align: center;
  padding: 25px;
}

.formMain {
  padding: 25px 0px 5px;
  margin: auto;
  width: 90%;
  max-width: 540px;
}

.formButton {
  text-align: center;
  width: 85px;
}

.formPrepend {
  text-align: center;
  width: 100px;
}

.errorText {
  color: red;
}
